
/* .navBar{
    height:3rem;
    width:99%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.main{
    height:3%;
    width:15rem;
    display:flex;
    flex-direction: row;
} */
/* .main{
    height: 15%;
    width: 10%;
    display: flex;
    flex-direction: row;

} */